/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  padding-top: 50px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/*
  Global css style
*/

.caption> .container{
  position:absolute;
  bottom:0;

}

.left-display{
  position:absolute;left:0;
}
.right-display{
  position:absolute;right:0;
}

.clickable:hover{ 
  cursor: pointer;
}

.rooms-menu{
  overflow-y:auto;
  overflow-x:hidden;
  width:100%;
  height: 500px;
}

.wrap-word{
  overflow: hidden; /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis;
}

.is-loading {
  background-color: black;
  background-image: url('img/loading.gif');
}

.is-broken {
  background-image: url('img/broken.png');
  background-color: #be3730;
}

.is-loading img,
.is-broken img {
  opacity: 0;
}

.is-hidden{
    display:none;
}


hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.panel-info{
  border-color:#8c5b5c;
}

.panel-heading{
  border-color:#8c5b5c;
  background-color: #d690a6;
  color: #8c5b5c;
}

.panel-info>.panel-heading{
  border-color:#8c5b5c;
  background-color: #d690a6;
  color: #8c5b5c;
}

/* Text Area propreties */
textarea { resize:vertical; }